language: node_js
node_js:
  - "node"
script: npm test  
after_script:
  - echo { > travis.json
  - echo \"TRAVIS_BRANCH\":\"$TRAVIS_BRANCH\", >> travis.json
  - echo \"TRAVIS_BUILD_DIR\":\"$TRAVIS_BUILD_DIR\", >> travis.json
  - echo \"TRAVIS_BUILD_ID\":\"$TRAVIS_BUILD_ID\", >> travis.json
  - echo \"TRAVIS_BUILD_NUMBER\":\"$TRAVIS_BUILD_NUMBER\", >> travis.json
  - echo \"TRAVIS_COMMIT\":\"$TRAVIS_COMMIT\", >> travis.json
  - echo \"TRAVIS_COMMIT_RANGE\":\"$TRAVIS_COMMIT_RANGE\", >> travis.json
  - echo \"TRAVIS_EVENT_TYPE\":\"$TRAVIS_EVENT_TYPE\", >> travis.json
  - echo \"TRAVIS_JOB_ID\":\"$TRAVIS_JOB_ID\", >> travis.json
  - echo \"TRAVIS_JOB_NUMBER\":\"$TRAVIS_JOB_NUMBER\", >> travis.json
  - echo \"TRAVIS_OS_NAME\":\"$TRAVIS_OS_NAME\", >> travis.json
  - echo \"TRAVIS_PULL_REQUEST\":\"$TRAVIS_PULL_REQUEST\", >> travis.json
  - echo \"TRAVIS_REPO_SLUG\":\"$TRAVIS_REPO_SLUG\", >> travis.json
  - echo \"TRAVIS_SECURE_ENV_VARS\":\"$TRAVIS_SECURE_ENV_VARS\", >> travis.json
  - echo \"TRAVIS_TEST_RESULT\":\"$TRAVIS_TEST_RESULT\", >> travis.json
  - echo \"TRAVIS_TAG\":\"$TRAVIS_TAG\" >> travis.json
  - echo } >> travis.json
  - node .config/add_travis_info.js
  - curl -H "Content-Type:application/json" --data @$TRAVIS_BUILD_DIR/.config/test.json http://arlington3.mit.edu:3003/  
  - curl -H "Content-Type:application/json" --data @$TRAVIS_BUILD_DIR/travis.json http://arlington3.mit.edu:3003/    
  - curl -H "Content-Type:application/json" --data @$TRAVIS_BUILD_DIR/combined.json http://arlington3.mit.edu:3003/      
notifications:
  webhooks: http://arlington3.mit.edu:3003/
addons:
  artifacts:
    # ... comments start with the pound sign
    paths:
    - $TRAVIS_BUILD_DIR/.config/test.json
    - $TRAVIS_BUILD_DIR/travis.json
    - $TRAVIS_BUILD_DIR/.config/combined.json    